<nav>

  <!-- HEADER -->
  <div class="header-principal">

    <!-- Botón hamburguesa (solo visible en móvil) -->
    <div class="hamburguer-btn-mobile" (click)="toggleMenu()">
      <i class="bi bi-list"></i>
    </div>

    <!-- LOGO -->
    <a routerLink="" class="logo">
      <i class="bi bi-bag-check-fill"></i>
      <div class="div-ecommerce-store">
        <h2>Ecommerce</h2>
        <span>Store</span>
      </div>
    </a>

    <!-- BUSCADOR -->
    <form [formGroup]="formBusqueda" class="search-container-form">
      <div class="search-container">
        <select class="search-category" [formControl]="formBusqueda.controls.categoriaId"
          (change)="onCategoriaChange()">
          <option value="">Todas</option>
          @for(x of categorias; track x.id){
          <option [value]="x.id">{{x.nombre}}</option>
          }
        </select>
        <input type="text" placeholder="¿Qué producto estás buscando?" [formControl]="formBusqueda.controls.nombre" />
        <button type="button" (click)="onCategoriaChange()">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>

    <!-- ACCIONES HEADER -->
    <div class="acciones-header">


      <!-- SECCIÓN USUARIO - LOGIN / REGISTRO / PERFIL -->

      <app-autorizado>

        <!-- USUARIO LOGUEADO -->
        <ng-container autorizado>
          <div class="user-info-header">
            <a routerLink="/perfil" class="user-link">
              @if (obtenerFotoPerfil()) {
              <img [src]="obtenerFotoPerfil()" alt="Foto de perfil" class="foto-perfil-header"
                referrerpolicy="no-referrer" />
              } @else {
              <img src="/fotos-ecommerce/User.jpg" alt="Foto de perfil" class="foto-perfil-header"
                referrerpolicy="no-referrer" />
              }
              <div>
                <small>Mi Cuenta</small>
                <span>Perfil</span>
              </div>
            </a>
            <button (click)="seguridadService.logout(); cerrarMenu()" class="btn-logout-header" title="Cerrar sesión">
              <i class="bi bi-box-arrow-in-left"></i>Logout
            </button>
          </div>
        </ng-container>

        <!-- USUARIO NO LOGUEADO -->
        <ng-container noAutorizado>
          <div class="login-registro-header">
            <a routerLink="login" (click)="cerrarMenu()">
              <i class="bi bi-box-arrow-in-right"></i>
              <div>
                <small>Acceder</small>
                <span>Login</span>
              </div>
            </a>
            <a routerLink="registrar" (click)="cerrarMenu()">
              <i class="bi bi-person-plus"></i>
              <div>
                <small>Crear cuenta</small>
                <span>Registrar</span>
              </div>
            </a>
          </div>
        </ng-container>

      </app-autorizado>


      <!-- FAVORITOS -->

      <a routerLink="/favoritos" class="favoritos-link">
        <div class="favorito-icono">
          <i class="bi bi-heart"></i>
          @if(cantidadFavorito > 0){
          <span class="badge-favorito">
            {{ cantidadFavorito }}
          </span>
          }
        </div>
        <div>
          <small>Favoritos</small>
        </div>
      </a>

      <!-- CARRITO -->

      <a routerLink="/carrito" class="carrito-link">
        <div class="carrito-icono">
          <i class="bi bi-cart4"></i>
          @if(cantidadCarrito > 0){
          <span class="badge-carrito">
            {{ cantidadCarrito }}
          </span>
          }
        </div>
        <div>
          <small>Carrito</small>
        </div>
      </a>

    </div>

  </div>

  <!-- MENU LATERAL HAMBURGUESA -->
  <div class="menu-principal" [class.menu-open]="!menuColapsado">

    <!-- Botón cerrar -->
    <div class="menu-close-btn">
      <button (click)="toggleMenu()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>

    <!-- Logo dentro del menú -->
    <div class="btn-categorias">
      <i class="bi bi-shop"></i>
    </div>

    <div class="menu-links">
      <a routerLink="/landing" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }"
        (click)="cerrarMenu()">
        <i class="bi bi-house-door"></i>Inicio
      </a>
      <a routerLink="/productos" routerLinkActive="activo" (click)="cerrarMenu()">
        <i class="bi bi-shop"></i>Tienda
      </a>
      <a routerLink="/contacto" routerLinkActive="activo" (click)="cerrarMenu()">
        <i class="bi bi-headset"></i> Atención Al Cliente
      </a>
      <!-- <a routerLink="/contacto" routerLinkActive="activo" (click)="cerrarMenu()">
        Contacto
      </a> -->
    </div>

    <!-- MENUS ADMIN -->
    <app-autorizado rol="Admin">
      <ng-container autorizado>
        <div class="admin-bar">
          <!-- ÓRDENES -->
          <!--class.active = clase agregada segun valor de la variable-->
          <div class="dropdown-menu-admin" [class.active]="dropdownOrdenesOpen">
            <button class="dropdown-btn" (click)="toggleDropdown('ordenes')">
              <i class="bi bi-grid"></i>
              <span> Órdenes</span>
              <i class="bi bi-chevron-down"></i>
            </button>
            <div class="dropdown-content" [class.open]="dropdownOrdenesOpen">
              <a routerLink="/productos/historialProductos">
                <i class="bi bi-clock-history"></i>Historial</a>
              <a routerLink="/admin/ordenes">
                <i class="bi bi-grid"></i>Órdenes</a>
              <a routerLink="/estadosOrdenes">
                <i class="bi bi-list-check"></i>Estados Órdenes</a>
              <a routerLink="/estadosPagos">
                <i class="bi bi-credit-card-2-front"></i>Estados Pagos</a>
              <a routerLink="/admin/dashboard">
                <i class="bi bi-clipboard-data"></i>Dashboard</a>
            </div>
          </div>

          <!-- ADMIN -->
          <!--class.active = clase agregada segun valor de la variable-->
          <div class="dropdown-menu-admin" [class.active]="dropdownAdminOpen">
            <button class="dropdown-btn" (click)="toggleDropdown('admin')">
              <i class="bi bi-gear"></i>
              <span>Administración</span>
              <i class="bi bi-chevron-down"></i>
            </button>
            <div class="dropdown-content" [class.open]="dropdownAdminOpen">
              <a routerLink="/productos">
                <i class="bi bi-box-seam"></i>Productos</a>
              <a routerLink="/categorias">
                <i class="bi bi-tags"></i>Categorías</a>
              <a routerLink="/listadoUsuarios">
                <i class="bi bi-people"></i>Usuarios</a>
              <a routerLink="/productos/pendientes">
                <i class="bi bi-hourglass"></i>Pendientes</a>
            </div>
          </div>
        </div>
      </ng-container>
    </app-autorizado>

  </div>

</nav>

<app-ia></app-ia>