<div class="container mt-4">


@if(obtenerNombreUsuario() !== ''){

  <h2> {{obtenerNombreUsuario()}}'s Carrito</h2>
}@else {
  <h2>Hola, Registrate 😊</h2>
}


  @if (carrito.length === 0) {
  <p>No hay productos en el carrito.</p>
  }

  @for (p of carrito; track $index) {
  <div class="carrito-item">
    <img [src]="p.imagenUrl" class="carrito-img">

    <div class="carrito-info">
      <h4>{{ p.nombreProducto }}</h4>
      <small>Cantidad: {{ p.cantidad }}</small>
      <b>Subtotal: RD$ {{ p.subtotal | currency}}</b>
    </div>


    <div class="cantidad-controles">

      @if (p.cantidad === 1) {
      <button class="btn-delete" (click)="eliminar(p.productoId)">x</button>
      <span>{{ p.cantidad }}</span>
      <button class="btn-plus" (click)="sumar(p.productoId)">+</button>
      }@else {
      <button class="btn-less" (click)="restar(p.productoId)">-</button>
      <span>{{ p.cantidad }}</span>
      <button class="btn-plus" (click)="sumar(p.productoId)">+</button>
      }

    </div>
  </div>
  }

  @if (carrito.length > 0) {
  <div class="carrito-total">
    <h3>Total: RD$ {{ total | currency}}</h3>
    <button class="btn-vaciar" (click)="limpiar()">Vaciar carrito</button>
    <button class="btn-comprar" (click)="checkout()">Finalizar Compra</button>
  </div>
  }
</div>