<h3>{{ titulo }}</h3>

<div>
    <button type="button" mat-raised-button (click)="cargadorArchivos.click()">

        Seleccionar imágenes
    </button>

    <input type="file" multiple hidden #cargadorArchivos accept="image/*" (change)="cambio($event)">
</div>

<div class="preview-container">

    @for(imagen of imagenesBase64; track $index){

    <img [src]="imagen" class="preview-imagen">

    }

    @if(imagenesBase64.length === 0 && urlImagenesActuales){

    <img [src]="urlImagenesActuales" class="preview-imagen">

    }

</div>