<app-listado-generico [listado]="productos">

  <ng-container contenido>

    <div class="productos-grid">

      @for (producto of productos; track producto.id) {

      <div class="producto-card">

        <!-- BADGE -->

        <div class="badge-descuento">
          <p>-20%</p>
        </div>


        <!-- IMAGEN -->

        <a [routerLink]="'/productos/' + producto.id" class="producto-imagen-container">

          <img [src]="producto.imagenes?.[0]" [alt]="producto.nombre" class="producto-imagen">

        </a>



        <!-- INFO -->

        <div class="producto-info">

          <!-- ESTRELLAS -->

          <div class="rating">

            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>

            <span>(83)</span>

          </div>

          <a [routerLink]="'/productos/' + producto.id" class="producto-titulo">

            {{ producto.nombre }}

          </a>


          <p>{{producto.descripcion}}</p>

          <div class="precio-container">

            <span class="precio">

              {{ producto.precio | currency }}



            </span>

          </div>
          <small class="small-price">o {{PrecioA12Meses(producto.precio) | currency}}/mensual por 12 meses</small>

        </div>

        <!-- ADMIN -->

        <app-autorizado rol="Admin">

          <ng-container autorizado>

            <div class="acciones-admin">

              <button [routerLink]="'/productos/editar/' + producto.id" class="btn-editar">

                <i class="bi bi-pencil-square"></i>

              </button>

              <button (click)="borrar(producto.id)" class="btn-borrar">

                <i class="bi bi-trash"></i>

              </button>

            </div>

          </ng-container>

        </app-autorizado>

        <!-- CARRITO -->

        <div class="Agregar-Favoritos-Carrito">
          <button (click)="agregarAlCarrito(producto)" class="btn-carrito">


            Agregar al carrito

          </button>

          <!-- FAVORITO -->
          <button class="btn-favorito" [class.activo]="esFavorito(producto.id)" (click)="toggleFavorito(producto)">

            <i class="bi" [class.bi-heart]="!esFavorito(producto.id)" [class.bi-heart-fill]="esFavorito(producto.id)">
            </i>
            <i class="bi bi-heart-fill icon-hover"></i>

          </button>
        </div>



      </div>

      }

    </div>




  </ng-container>

</app-listado-generico>