<div class="contenedor-principal">

  <div class="sidebar">

    <form [formGroup]="form" class="price-slider">

      <h3>Rango de Precio</h3>

      <div class="price-values">
        <span>${{ precioMin }}</span>
        <span>${{ precioMax }}</span>
      </div>

      <div class="slider-container">
        <input type="range" min="0" max="5000" step="1" formControlName="precioMin">

        <input type="range" min="0" max="5000" step="1" formControlName="precioMax">
      </div>

      <div class="inputs-precio">
        <input type="number" formControlName="precioMin" placeholder="Mínimo">

        <input type="number" formControlName="precioMax" placeholder="Máximo">
      </div>


    </form>

  </div>

  
  <div class="contenido-productos">
    <app-lista-productos [productos]="productos" data-aos="zoom-in" data-aos-duration="1200">
    </app-lista-productos>
  </div>

</div>