<section class="busqueda-wrapper">

  <div class="busqueda-header">
    <h2>Buscar Productos</h2>
    <p>Filtra productos por nombre, categoría y precio</p>
  </div>

  <form [formGroup]="form" class="formulario" data-aos="zoom-in" data-aos-duration="500">

    <mat-form-field appearance="outline" class="campo campo-nombre">
      <mat-label>Nombre</mat-label>
      <input matInput [formControl]="form.controls.nombre" placeholder="Ej: Laptop, camisa, tenis...">
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Categoría</mat-label>

      <mat-select [formControl]="form.controls.categoriaId">
        <mat-option [value]="''">Todas las categorías</mat-option>

        @for (categoria of categorias; track $index) {
          <mat-option [value]="categoria.id">
            {{ categoria.nombre }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="precio-container">
      <mat-form-field appearance="outline" class="campo precio">
        <mat-label>Precio mínimo</mat-label>
        <input matInput type="number" [formControl]="form.controls.precioMin" placeholder="0">
      </mat-form-field>

      <mat-form-field appearance="outline" class="campo precio">
        <mat-label>Precio máximo</mat-label>
        <input matInput type="number" [formControl]="form.controls.precioMax" placeholder="0">
      </mat-form-field>
    </div>

  </form>

</section>

<app-lista-productos 
  [productos]="productos" 
  data-aos="zoom-in" 
  data-aos-duration="1200">
</app-lista-productos>